## **Assigment - Part 2, Making and populating a Database**

Load the data (use pandas) from the provided file buddymove_holidayiq.csv (the BuddyMove Data Set) - you should have 249 rows, 7 columns, and no missing values. The data reflects the number of place reviews by given users across a variety of categories (sports, parks, malls, etc.).

Using the standard sqlite3 module:

Open a connection to a new (blank) database file buddymove_holidayiq.sqlite3
Use df.to_sql (documentation) to insert the data into a new table review in the SQLite3 database
Then write the following queries (also with sqlite3) to test:

Count how many rows you have - it should be 249!
How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?
(Stretch) What are the average number of reviews for each category?
Your code (to reproduce all above steps) should be saved in buddymove_holidayiq.py, and added to the repository along with the generated SQLite database.

In [1]:
import sqlite3
import pandas as pd

In [2]:
buddymove_df = pd.read_csv('buddymove_holidayiq.csv')

# Check to make sure the 3 conditions in the prompt are satisfied:
# (1) 249 rows
# (2) 7 columns
# (3) no missing values
assert (buddymove_df.isnull().sum().sum() == 0) & (buddymove_df.shape[0] == 249) & (buddymove_df.shape[1] == 7)

buddymove_df

      User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0      User 1       2         77      79       69        68      95
1      User 2       2         62      76       76        69      68
2      User 3       2         50      97       87        50      75
3      User 4       2         68      77       95        76      61
4      User 5       2         98      54       59        95      86
..        ...     ...        ...     ...      ...       ...     ...
244  User 245      18        139     148      129       129     168
245  User 246      22        114     228      104        84     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

[249 rows x 7 columns]

In [3]:
# Open up a new connection + create new buddymove_holidayiq.sqlite3 DB:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [4]:
# New cursor:
curs = conn.cursor()

In [11]:
# Add a table named 'review' with the buddymove_df data to our new 
# buddymove_holidayiq.sqlite3 database
buddymove_df.to_sql('review', con=conn, if_exists='replace')

In [14]:
# Part 2 requirements and questions:

# (1) 249 rows:
assert curs.execute("SELECT COUNT('User Id') FROM review").fetchall()[0][0] == 249

# (2) "How many users who reviewed at least 100 Nature in the category 
# also reviewed at least 100 in the Shopping category?":
num_users = curs.execute("SELECT COUNT('User Id') FROM review WHERE (Nature >= 100) AND (Shopping >= 100)").fetchall()[0][0]
print(f"# users who reviewed >=100 Nature and >=100 Shopping places: {num_users} users")

# users who reviewed >=100 Nature and >=100 Shopping places: 78 users

In [15]:
# (3) "(Stretch) What are the average number of reviews for each category?"
avg_reviews_by_category = curs.execute("SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre), AVG(Shopping), AVG(Picnic) FROM review").fetchall()
round(pd.DataFrame(avg_reviews_by_category, index=['avg_reviews'], columns=buddymove_df.columns.drop('User Id')), 1)

             Sports  Religious  Nature  Theatre  Shopping  Picnic
avg_reviews    12.0      109.8   124.5    116.4     112.6   120.4

In [16]:
# Check answer to (3) above:
buddymove_df.mean()

Sports        11.987952
Religious    109.779116
Nature       124.518072
Theatre      116.377510
Shopping     112.638554
Picnic       120.401606
dtype: float64